body, ul, h1, h4 {
  padding: 0;
  margin: 0;
}

.success {
  color: green;
}

.error {
  color: red;
}

.feedback {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.container {
  padding: 15px 20px;
}

.user {
  display: flex;
}

.users-header {
  display: flex;
  align-items: end;
}

.navbar {
  display: flex;
  justify-content: end;
  background-color: #ccc;
  padding: 15px 20px;
}

.users-header *, .user * {
  width: 150px;
}

.mb-2 {
  margin-bottom: 2rem;
}